/ElmenusTask/.vs/ElmenusTask/v16/.suo
/ElmenusTask/.vs/ElmenusTask/v16/TestStore/0/000.testlog
/ElmenusTask/.vs/ElmenusTask/v16/TestStore/0/testlog.manifest
/ElmenusTask/bin/Debug/netcoreapp3.1/chromedriver.exe
/ElmenusTask/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/DnsClient.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ElmenusTask.deps.json
/ElmenusTask/bin/Debug/netcoreapp3.1/ElmenusTask.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ElmenusTask.pdb
/ElmenusTask/bin/Debug/netcoreapp3.1/ElmenusTask.runtimeconfig.dev.json
/ElmenusTask/bin/Debug/netcoreapp3.1/ElmenusTask.runtimeconfig.json
/ElmenusTask/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ExtentReports.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Abstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.Core.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Connections.Abstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Diagnostics.Abstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Diagnostics.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.HostFiltering.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Hosting.Abstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Hosting.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Html.Abstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Abstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Extensions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Features.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.HttpOverrides.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Runtime.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Routing.Abstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Routing.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.IIS.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.IISIntegration.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.Kestrel.Core.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.Kestrel.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.Kestrel.Https.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.WebUtilities.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.DotNet.InternalAbstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.CommandLine.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.UserSecrets.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Configuration.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Console.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Debug.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.EventSource.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.ObjectPool.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.Net.Http.Headers.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/MongoDB.Bson.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/MongoDB.Driver.Core.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/MongoDB.Driver.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/MongoDB.Libmongocrypt.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/nunit.engine.api.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/nunit.engine.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/nunit.framework.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
/ElmenusTask/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/NUnit3.TestAdapter.pdb
/ElmenusTask/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/RazorEngine.NetCore.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/runtimes/win-x64/nativeassets/netcoreapp2.2/aspnetcorev2_inprocess.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/runtimes/win-x86/nativeassets/netcoreapp2.2/aspnetcorev2_inprocess.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/SharpCompress.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/System.IO.Pipelines.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/System.Xml.XPath.XmlDocument.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/testhost.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/WebDriver.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ElmenusTask/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ElmenusTask/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ElmenusTask/obj/Debug/netcoreapp3.1/ElmenusTask.AssemblyInfo.cs
/ElmenusTask/obj/Debug/netcoreapp3.1/ElmenusTask.AssemblyInfoInputs.cache
/ElmenusTask/obj/Debug/netcoreapp3.1/ElmenusTask.assets.cache
/ElmenusTask/obj/Debug/netcoreapp3.1/ElmenusTask.csproj.CopyComplete
/ElmenusTask/obj/Debug/netcoreapp3.1/ElmenusTask.csproj.CoreCompileInputs.cache
/ElmenusTask/obj/Debug/netcoreapp3.1/ElmenusTask.csproj.FileListAbsolute.txt
/ElmenusTask/obj/Debug/netcoreapp3.1/ElmenusTask.csprojAssemblyReference.cache
/ElmenusTask/obj/Debug/netcoreapp3.1/ElmenusTask.dll
/ElmenusTask/obj/Debug/netcoreapp3.1/ElmenusTask.genruntimeconfig.cache
/ElmenusTask/obj/Debug/netcoreapp3.1/ElmenusTask.pdb
/ElmenusTask/obj/ElmenusTask.csproj.nuget.dgspec.json
/ElmenusTask/obj/ElmenusTask.csproj.nuget.g.props
/ElmenusTask/obj/ElmenusTask.csproj.nuget.g.targets
/ElmenusTask/obj/project.assets.json
/ElmenusTask/obj/project.nuget.cache
/ElmenusTask/Test_Execution_Reports/index.html
